body{
  font-family: 'Roboto', sans-serif;
}
/*-----------------WORKROOM------------------*/
.workspaceWindow{
  height:100%;
  width:100%;
  position:fixed;
  padding:0 1vw;
}
#nav{
  display:flex;
  height:15%;
  padding: 0 2vw;
  border-bottom:1px solid;
}
#room{
  flex-grow:2;
  text-align: center;
}
#roomName{
  margin:1em 0 0.3em 0;
}
#nextMeeting{
  color: #004e74;
  font-size: 0.8em;
  margin: 0;
}
#camControls{
  width:200px;
  display:flex;
  justify-content: space-around;
}
#nav img{
  object-fit: contain;
}
#participants{
  position:absolute;
  width:100%;
  height:20%;
  bottom:0px;
  padding:1vh 2vw 1vh 0;
  text-align: center;
  display:flex;
  flex-flow: row wrap;
  align-items:flex-end;
  background-color:#f2f2f2;
  border-top:1px solid;
}
#participants p{
  margin:0;
}
#participants #title{
  flex: 1 100%;
}
.participant{
  margin: 0 10px;
  position:relative;
  vertical-align: top;
}
.inUseDevice{
  width:7vw;
  height:auto;
  position:relative;
}
.inUseDevice video{
/*  position:absolute;*/
  bottom:0;
  left:0;
}

.closeButton{
  top:2vh;
  right:2vw;
  position:absolute;
}
#workRoom{
  width:100%;
  height:65%;
  position:relative;
  background:linear-gradient(white, #e6e7e8);
  overflow: hidden;
}
.photo{
  width:300px;
/*  border: red solid 4px;*/
}
.url{
  width:40vw;
  height:50vh;
/*  border: red solid 4px;*/
}
.container{
  position:relative;
  display: table-caption;
  top:10px;
  left:10px;
}
.annotateClear, .annotateSend{
  display:none;
}
.annotateCanvas{
  position:absolute;
  left:0;
  top:0;
  display:none;
}

.slideWindow{
  height: 100%; 
  width:100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  pointer-events:none;
}
.overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  background-color: rgba(51,51,51,0.6);
  pointer-events:all;
}
.slideTitle{
  height:8vh;
  border-bottom:1px solid black;
  text-align: center;
}
#binWindow, #timelineWindow{
  height:100%;
  width:60px;
  position:relative;
  transition: 0.5s;
  pointer-events:all;
}
#bin, #timeline{
  position:absolute;
  height:100%;
  width:calc(100% - 50px);
  background-color: white;
}
#binButton, #timelineButton{
  position:absolute;
  width:50px;
  height:50px;
  top:50%;
  transform: translateY(-50%);
  background-size:contain;
  cursor:pointer;
}
/*-------------------BIN----------------------*/
#binWindow{
  left:0;
}
#bin{ 
  padding:0 20px;
  border-right: 10px solid #008adc;
  right:50px;
  display:flex;
  flex-flow: wrap;
  justify-content: space-around;
  overflow:hidden;  
}
#bin .slideTitle{
  flex: 1 100%;
  color:#008adc;
}
#binButton{
  right:0;
  background-color:#008adc;
  border-radius:0 10px 10px 0;
  background-image: url('../img/toolbinLogo.png');
}

.binInput{
  display:block;
  margin:0 auto;
  width:50px;
  height:50px;
  cursor:pointer;
}
#photoInput{
  display:none;
}
/*-----------------TIMELINE-----------------*/
#timelineWindow{
  float:right;
}
#timeline{
  left:50px;
  border-left: 10px solid #f5750c;
}
#timeline .slideTitle{
  color:#f5750c;
}
#timelineButton{
  left:0;
  background-color:#f5750c;
  border-radius:10px 0 0 10px;
  background-image: url('../img/timelineLogo.png');
}

* {
	box-sizing: border-box;
}
#app{
  height:100%;
  position:relative;
}
#container {
  position: relative;
  height:100%;
  overflow:hidden;
  padding:0 20px;
}

.title {
  font-weight: 100;
  color: #343434;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  background: #c3c3c3;
}

.server-msg {
  font-size: 1.8em;
  padding: 3px 20px;
  color: white;
  background: #999999;
  text-align: center;
}

#chat-container {
  height: 500px;
  margin: 40px 0px;
  padding: 20px 20px 100px 20px;
  color: #434343;
  overflow-y: scroll;
}

.chat-item {
  width: 100%;
  margin: 10px 0px;
}

.chat-item .left {
  width: 20%;
}

.chat-item .right {
  padding-left: 20px;
  width: 80%;
  font-size: 1.5em;
}
.bot-item {
	width: 100%;
	margin: 10px 0px;
	color: #7F7F7F;
}

.bot-item .left {
	width: 20%;
	color: #7F7F7F;
}

.bot-item .right {
	padding-left: 20px;
	width: 80%;
	font-size: 1.5em;
	color: #7F7F7F;
}
.timestamp {
  font-size: 0.75em;
}

.user {
  font-size: 0.9em;
  font-weight: 100;
}

#chat-input {
  position: absolute;
  left:0px;
  bottom: 0px;
  width: 100%;
  background: #dfdfdf;
  padding: 10px;
}

#chat-input .left {
  width: 80%;
}

#chat-input .right {
  width: 20%;
}

#js-btn-send {
  border-radius: 0px;
  padding: 14px;
  color: #7c7c7c;
  width: 100%;
}

#js-ipt-text {
  width: 97%;
  outline: none;
  font-size: 1.25em;
  padding: 10px;
  color: #434343;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

#contactsPopup{
  position:absolute;
  transition: 0.5s;
  width:0;
  height:60%;
  top:20%;
  left:25%;
  background: rgba(255,255,255,0.8);
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
  overflow:hidden;
}
#contacts{
  display: flex;
  flex-direction: column;
  text-align: center;
  width:100%;
  border-collapse: collapse;
}
.contacts{
  border-bottom: solid 2px lightgrey;
  position:relative;
}
.add{
  position:absolute;
  background-color: limegreen;
  transition:0.5s;
  width:0;
  height:100%;
  top:0;
  right: 0;
  cursor: pointer;
}
.add h1{
  color:white;
  margin:0;
}
.on{
  width:20%;
}

.chat-item img{
  width:50%;
  height:auto;
}

/*  MOBILE WEBAPP*/
@media only screen and (max-device-width: 480px) {
  #mobileCheck { 
    display: none; 
  }
  .photo{
    width:150px;
  }
  .container{
    top:10px;
    left:50px;
  }
  #roomName{
    font-size: 0.6em;
  }
  #nextMeeting{
    font-size:0.5em;
  }
  #camControls{
    width:120px;
  }

}
