/*-----------------WORKROOM------------------*/
.workspaceWindow{
  height:100%;
  width:100%;
  position:fixed;
  padding-left:20px;
  font-family: sans-serif;
  padding:0 3vw;
}
#participants{
  position:absolute;
  width:96vw;
  bottom:10px;
  padding-left:10px;
  text-align: center;
  display:flex;
}
#participants p{
  margin:0;
}
.participant{
  margin: 0 10px;
  position:relative;
  vertical-align: top;
}
.inUseDevice{
  width:7vw;
  height:auto;
  position:relative;
}
.inUseDevice video{
  position:absolute;
  bottom:0;
  left:0;
}
#timelineButton{
  position: absolute;
  top:0;
  right:0;
  width:2vw;
  height:100vh;
}
.vertical-text{
  transform: rotate(90deg);
}
#binButton{
  position: absolute;
  top:0;
  left:0;
  width:2vw;
  height:100vh;
}
.slideWindow{
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s; 
  display:flex;
}
.timelineWindow{
  right:0;
}
.binWindow{
  left:0;
}
.overlay{
  background-color: rgba(255,255,255,0.6);
}
#timeline, #bin{
  width:60vw;
  height:100%;
  background-color: aquamarine;
}
.closeButton{
  top:2vh;
  right:2vw;
  position:absolute;
}
.photo{
  width:300px;
  border: red solid 4px;
}
.url{
  width:40vw;
  height:50vh;
  border: red solid 4px;
}
/*-------------------BIN----------------------*/

#bin{
  display:flex;
}
.binInput{
  width:10vw;
  height:10vw;
  margin:2vw;
}
#photoInput{
  display:none;
}
/*-----------------TIMELINE-----------------*/

* {
	box-sizing: border-box;
}
#app{
  height:100%;
  position:relative;
}
#container {
  position: relative;
  height:100%;
  background: rgb(255,255,255);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
  overflow:hidden;
}

.title {
  font-weight: 100;
  color: #343434;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  background: #c3c3c3;
}

.server-msg {
  font-size: 1.8em;
  padding: 3px 20px;
  color: white;
  background: #999999;
  text-align: center;
}

#chat-container {
  height: 500px;
  margin: 40px 0px;
  padding: 20px 20px 100px 20px;
  color: #434343;
  overflow-y: scroll;
}

.chat-item {
  width: 100%;
  margin: 10px 0px;
}

.chat-item .left {
  width: 20%;
}

.chat-item .right {
  padding-left: 20px;
  width: 80%;
  font-size: 1.5em;
}
.bot-item {
	width: 100%;
	margin: 10px 0px;
	color: #7F7F7F;
}

.bot-item .left {
	width: 20%;
	color: #7F7F7F;
}

.bot-item .right {
	padding-left: 20px;
	width: 80%;
	font-size: 1.5em;
	color: #7F7F7F;
}
.timestamp {
  font-size: 0.75em;
}

.user {
  font-size: 0.9em;
  font-weight: 100;
}

#chat-input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #dfdfdf;
  padding: 10px;
}

#chat-input .left {
  width: 80%;
}

#chat-input .right {
  width: 20%;
}

#js-btn-send {
  border-radius: 0px;
  padding: 14px;
  color: #7c7c7c;
  width: 100%;
}

#js-ipt-text {
  width: 97%;
  outline: none;
  font-size: 1.25em;
  padding: 10px;
  color: #434343;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

#contactsPopup{
  position:absolute;
  transition: 0.5s;
  width:0;
  height:60%;
  top:20%;
  left:25%;
  background: rgba(255,255,255,0.8);
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
  overflow:hidden;
}
#contacts{
  display: flex;
  flex-direction: column;
  text-align: center;
  width:100%;
  border-collapse: collapse;
}
.contacts{
  border-bottom: solid 2px lightgrey;
  position:relative;
}
.add{
  position:absolute;
  background-color: limegreen;
  transition:0.5s;
  width:0;
  height:100%;
  top:0;
  right: 0;
  cursor: pointer;
}
.add h1{
  color:white;
  margin:0;
}
.on{
  width:20%;
}

.chat-item img{
  width:50%;
  height:auto;
}